[user]
	name = Quinn Parrott
[alias]
	s = status
	co = checkout
	ds = diff --staged
	d = diff
	c = log --oneline --all --graph
	ca = log --oneline --all --graph --stat
	f = fetch
[init]
	defaultBranch = main
[fetch]
	prune = true
	fsckobjects = true
[merge]
	conflictstyle = zdiff3
[pull]
	ff = only
[commit]
	verbose = true
[tranfser]
	fsckobjects = true
[receive]
	fsckobjects = true
[core]
	autocrlf = false
