[user]
	name = Quinn Parrott
[alias]
	s = status
	co = checkout
	cb = checkout -b
	ds = diff --staged
	d = diff
	c = commit
	cn = commit --no-verify
	wip = commit -m "wip" --no-verify
	r = rebase
	ro = rebase --onto=origin/main
	l = log --oneline --all --graph
	la = log --oneline --all --graph --stat
	ll = log --oneline --graph
	f = fetch
	pop = reset HEAD~
[init]
	defaultBranch = main
[fetch]
	prune = true
	fsckobjects = true
[merge]
	conflictstyle = zdiff3
[pull]
	ff = only
[commit]
	verbose = true
[tranfser]
	fsckobjects = true
[receive]
	fsckobjects = true
[core]
	autocrlf = false
	editor = nvim
[push]
	autoSetupRemote = true
	default = simple
